body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.horizontal-scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.horizontal-scroll a {
  display: inline-block;
  vertical-align: middle;
}
